<div class="grid-container">
    <mat-grid-list [cols]=2 rowHeight="338px">
        <mat-grid-tile [colspan]=2>
            <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">
                    <app-alarm-info></app-alarm-info>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]=2>
            <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">
                    <app-hydrantplan></app-hydrantplan>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]=2>
            <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">
                    <app-navigation></app-navigation>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
