<h1>
    <i class="titleIcon fa fa-fire"></i>
    Einsatzinfo
</h1>

<mat-grid-list *ngIf="alarmInfo" cols="2" rowHeight="70px" role="list">
    <mat-grid-tile style.background="lightblue" role="listitem">
        <div *ngIf="alarmInfo.time">
            <u>Alarmzeit:</u> {{alarmInfo.time | date: 'HH:mm'}} Uhr
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightgreen" role="listitem">
        <div *ngIf="alarmInfo.placeOfAction">
            <u>Einsatzort:</u> {{alarmInfo.placeOfAction.adressAsCombinedString}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightpink" role="listitem">
        <div *ngIf="alarmInfo.priority">
            <u>Priorität:</u> {{alarmInfo.priority}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightblue" role="listitem">
        <div *ngIf="alarmInfo.comment">
            <u>Bemerkung:</u> {{alarmInfo.comment}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightgreen" colspan="2" role="listitem">
        <div *ngIf="abekInfo">
            <u>ABek:</u> {{abekInfo.Schlagwort}} ({{abekInfo.Stichwort}}) {{abekInfo.Material}}
        </div>
    </mat-grid-tile>

</mat-grid-list>
