<h1>
    <i class="titleIcon fa fa-fire"></i>
    Einsatzinfo
</h1>

<mat-grid-list *ngIf="alarmInfo" cols="2" rowHeight="70px" role="list">
    <mat-grid-tile style.background="lightblue" role="listitem">
        <div *ngIf="alarmInfo.Alarmzeit">
            <u>Alarmzeit:</u> {{alarmInfo.Alarmzeit | date: 'HH:mm'}} Uhr
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightgreen" role="listitem">
        <div *ngIf="alarmInfo.Einsatzort">
            <u>Einsatzort:</u> {{alarmInfo.Einsatzort}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightpink" role="listitem">
        <div *ngIf="alarmInfo.Prioritaet">
            <u>Priorität:</u> {{alarmInfo.Prioritaet}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightblue" role="listitem">
        <div *ngIf="alarmInfo.Bemerkung">
            <u>Bemerkung:</u> {{alarmInfo.Bemerkung}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile style.background="lightgreen" colspan="2" role="listitem">
        <div *ngIf="abekInfo">
            <u>ABek:</u> {{abekInfo.Schlagwort}} ({{abekInfo.Stichwort}}) {{abekInfo.Material}}
        </div>
    </mat-grid-tile>

</mat-grid-list>
